<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org" th:replace="~{normal/base::layout(~{::section})}">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
 <section>
 
   
   <div class="card me-3 ms-3">
   
     <div class="card-body">
     
       <h1 class="text-center">Update Your Contact</h1>
       <div class="container-fluid mt-1">
       
        <div class="col-md-8 offset-md-2">
          <form action="#"
          th:object="${contact}"
          enctype="multipart/form-data"
          method="post"  
          th:action="@{/user/process-update}"
          class="mt-2"
          >
          
          <input type="hidden" th:value="${contact.cId}" name="cId"/>
          
           <!-- First Name -->
	          <div class="input-group">
               <span class="input-group-text">
                  <i class="fa fa-plus"></i>
               </span>
              <input th:value="${contact.name}" type="text" name="name" id="firstName" class="form-control" placeholder="Enter First Name Here" aria-label="Enter Name Here" aria-describedby="basic-addon">
             </div>
             
              <!-- Second Name -->
	          <div class="input-group mt-3">
               <span class="input-group-text">
                  <i class="fas fa-user-alt"></i>
               </span>
              <input th:value="${contact.secondName}" type="text" name="secondName"  id="secondName" class="form-control" placeholder="Enter Second Name Here" aria-label="Enter Name Here" aria-describedby="basic-addon">
             </div>
             
             <!-- Phone -->
	          <div class="input-group mt-3">
               <span class="input-group-text">
                  <i class="fas fa-phone"></i>
               </span>
              <input th:value="${contact.phone}" type="text" name="phone"  id="phone" class="form-control" placeholder="Enter Phone Here" aria-label="Enter Phone Here" aria-describedby="basic-addon">
             </div>
             
              <!-- email -->
	          <div class="input-group mt-3">
               <span class="input-group-text">
                 @
               </span>
              <input th:value="${contact.email}" type="text" name="email"  id="email" class="form-control" placeholder="Enter Email Here" aria-label="Enter Phone Here" aria-describedby="basic-addon">
             </div>
             
             <!-- Work -->
	          <div class="input-group mt-3">
               <span class="input-group-text">
                  <i class="fas fa-briefcase"></i>
               </span>
              <input th:value="${contact.work}" type="text" name="work"  id="work" class="form-control" placeholder="Enter Work Here" aria-label="Enter Work Here" aria-describedby="basic-addon">
             </div>

            <!-- Contact Area -->
            <div class="form-group mt-3">
            <textarea th:text="${contact.description}" name="description" id="mytextarea" rows="4" cols="50" class="form-control" placeholder="Enter Contact Description."></textarea>

            </div>
          <!-- Img -->
          <div class="container">
          
          <img class="img-fluid my_profile_picture" th:src="@{'/img/'+${contact.image}}">
          
          </div>
          
          <div class="custom-file mt-3">
          <p>Chose new profile picture.</p>
            <input type="file" name="profileImage" id="image">
          </div>
          
          <div class="container text-center mt-3">
            <button class="btn btn-outline-primary">Save Contact</button>
          </div>
          
          </form>
          
        </div>
       
       </div>
     </div>
   
   </div>
    <script src="https://cdn.tiny.cloud/1/m74bdp7qfmogkdc2iqhzu0dx5gepnfrl4vc5l52xytp6sv9t/tinymce/6/tinymce.min.js" referrerpolicy="origin"></script>
   <script>
  tinymce.init({
    selector: '#mytextarea'
  });
</script> 
  </section>
</body>
</html>